<div>
    <h3>Products</h3>
            <searchbar> </searchbar>

        <div ng-repeat="product in products | filter: {name: searchInput}" class="col-md-4 product-overview">

            <a class="thumbnail" ui-sref="product({productId: product._id})">

                <div class="caption">

                    <h5>
                        <img ng-src="{{product.photo[0]}}"/>

                        <span class="product-name">{{ product.name }}</span>
                        <br>
                        # of Reviews: {{product.reviewLength}}
                        <br>
                        <uib-rating ng-model="product.average" max="5" readonly="true" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                    </h5>
                    <h5 ng-show="product.stock === 0">Out of stock</h5>
                </div>
            </a>
        </div>


</div>

