<div class ="container">
    <h3>{{ user.name }}</h3>
    <h3>{{ user.email }}</h3>

    <div class="row">
     <img ng-src="{{ user.imageURL}}" class="img-thumbnail" width="304" height="236">
                <div class="caption">
                    <h5>
                        <span>{{ user.name }}</span>
                    </h5>
                </div>
    </div>
    <div class="row">
     <h1>ORDERS</h1>
                <div class = "row" ng-repeat = "order in user.orders" class="caption">
                    <div ng-repeat ="product in order.products">
                       <h3> Product: {{product.product}} </h3>
                       <h3> Quantity: {{product.quantity}} </h3>

                    </div>
                </div>
    </div>
    <div class="row">
     <h1>REVIEWS</h1>
                <div class = "row" ng-repeat = "review in user.reviews" class="caption">
                    <h5>{{review.product.photo}}</h5>
                    <img ng-src={{review.product.photo[0]}} style="width:304px;height:228px;">
                    <h3> {{review._id}} </h3>
                       <h3> Product: {{review.product.name}} </h3>
                       <uib-rating ng-model="review.rating" max="max" readonly="!checkId(review._id) || !editing" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                       <!-- <h3> Rating: {{review.rating}} </h3> -->
                       <h3> Review:</h3>
                       <h3 ng-show="!editing">{{review.text}}</h3>
                       <textarea ng-show="editing && checkId(review._id)" ng-model="review.text">
                        {{ review.text || 'empty' }}
                        </textarea>
                    <div>
                        <button class="btn btn-default" ng-click="changeStatus(review._id)" ng-hide="editing && checkId(review._id)">edit</button>
                        <button class="btn btn-success" ng-click="updateReview(review._id, review.text, review.rating)" ng-show="editing && checkId(review._id)">save!</button>
                        <button class="btn btn-danger" ng-click="deleteReview(review._id)">delete</button>
                    </div>
                </div>
    </div>
</div>
<!--     <p><a ui-sref="categories">Back to all categories</a>
 -->