<div class = "container">
    <img ng-src={{product.photo[0]}} style="width:304px;height:228px;">
    <form ng-show="adminEditing" ng-submit="changePhoto()">
            <input placeholder="Input New Url Here" ng-model="photo"></input>
                <div>
                    <button class="btn btn-success" type="submit">Add New Url</button>
                </div>
    </form>
   <!-- logic for product name -->
   <div class = "row">
    <h3 ng-show="!adminEditing">{{ product.name }}</h3>
    <div ng-show="adminEditing"><a href="#" editable-text="product.name">{{ product.name || 'empty' }}</a></div>
    <div>
        <button class="btn btn-success" ng-show="adminEditing" ng-click="editProduct(product)">save!</button>
    </div>
    <!-- logic for product price -->
    <div ng-show="adminEditing"><a href="#" editable-text="product.price">${{ product.price || 'empty' }}</a></div>
    <div>
        <button class="btn btn-success" ng-show="adminEditing" ng-click="editProduct(product)">save!</button>
    </div>
    <h5 ng-show="!adminEditing">${{ product.price }}</h5>
    </div>

    <!-- come back to this category section!! almost done. -->
    <h5 ng-show="!adminEditing"><span ng-repeat="category in product.category"><a ui-sref="category({categoryName: category.name})">{{ category.name }}</a><span ng-show="!$last">, </span></span></h5>

    <div ng-show="adminEditing">
     <h5>

        <span ng-repeat="category in product.category">
           {{category.name}}
           <button class="btn btn-danger" ng-click="deleteCategory(category)">delete!</button>
        </span>

    </h5>
    </div>


    <form ng-show="adminEditing" name="category-form" novalidate ng-submit="addCategory(product)">
            <fieldset>
                <div>
                    <label for="category">Category</label>
                    <select name="category" ng-options="n.name for n in categories" ng-model="cat"></select>
                </div>
                <div>
                    <button class="btn btn-success" type="submit">Add Category</button>
                </div>
            </fieldset>
        </form>

    <!-- logic for product id -->
    <h5>#{{ product._id }}</h5>
    <!-- logic for product stock/quantity -->
    <div ng-show="adminEditing"><a href="#" editable-text="product.stock">{{ product.stock || 0 }} available</a></div>
    <div>
        <button class="btn btn-success" ng-show="adminEditing" ng-click="editProduct(product)">save!</button>
    </div>
    <h5 ng-show="product.stock == 0 && !adminEditing">Out of stock</h5>

    <h5 ng-show="product.stock > 0 && !adminEditing">{{ product.stock }} available</h5>
    <div>
        <form ng-hide="product.stock == 0" name="order-form" novalidate ng-submit="addToCart()">
            <fieldset>
                <div>
                    <label for="quantity">Qty</label>
                    <select name="quantity" ng-options="n for n in [] | range:1:product.stock" ng-model="amount"></select>
                </div>
                <div>
                    <button type="submit">Add To Cart</button>
                </div>
                <div class="alert alert-success" ng-show="cartAdded">Added to Cart!</div>
            </fieldset>
        </form>
    </div>
    <h4>Reviews</h4>
    <div class="row">
        <div ng-repeat="review in reviews" class="col-xs-12">
            <div class="caption">
                <h5>
                    <span>{{review.user.name}}</span>
                </h5>
                <h6>
                	<span>Rating: {{review.rating}} /5</span>
                </h6>
                <p>{{review.text}}</p>
            </div>
        </div>
    </div>

<button class="btn btn-primary" ng-click="showButton=false" ng-show="showButton && user">Write Review</button>
<div ng-show="!showButton && !formSubmitted">
	<div class="form-group" ng-submit="submit()">
		<form>
		<label for="submit">Submit Your Review:</label>
		<uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
		<textarea ng-model="text" class="form-control" rows="5" id="submit" placeholder="Write your review here" onfocus="this.placeholder=''" onblur="this.placeholder='Write your review here'"></textarea>
		<input type="submit" id="submit" value="Submit" />
		</form>
	</div>
</div>
<div ng-show="formSubmitted">
	<h4>Review Submitted!</h4>
</div>
    <p><a ui-sref="products">Back to all products</a> </p>
</div>

<div ng-show="user.admin">
     <button class="btn btn-default" ng-click="editClicked()">edit</button>
</div>
