<div>
    <img ng-src={{product.photo[0]}} style="width:304px;height:228px;">
    <h3>{{ product.name }}</h3>
    <h5>${{ product.price }}</h5>
    <h5><span ng-repeat="category in product.category"><a ui-sref="category({categoryName: category.name})">{{ category.name }}</a><span ng-show="!$last">, </span></span></h5>
    <h5>#{{ product._id }}</h5>
    <h5 ng-show="product.stock === 0">Out of stock.</h5>
    <h5 ng-show="product.stock > 0">{{ product.stock }} available</h5>
    <div>
        <form name="order-form" novalidate ng-submit="addToCart()">
            <fieldset>
                <div>
                    <label for="quantity">Qty</label>
                    <select name="quantity" ng-options="n for n in [] | range:1:product.stock" ng-model="amount"></select>
                </div>
                <div>
                    <button type="submit">Add To Cart</button>
                </div>
            </fieldset>
        </form>
    </div>
    <h4>Reviews</h4>
    <div class="row">
        <div ng-repeat="review in reviews" class="col-xs-12">
            <div class="caption">
                <h5>
                    <span>{{review.user.name}}</span>
                </h5>
                <h6>
                	<span>Rating: {{review.rating}} /5</span>
                </h6>
                <p>{{review.text}}</p>
            </div>
        </div>
    </div>

<button class="btn btn-primary" ng-click="showButton=false" ng-show="showButton && user">Write Review</button>
<div ng-show="!showButton && !formSubmitted">
	<div class="form-group" ng-submit="submit()">
		<form>
		<label for="submit">Submit Your Review:</label>
		<uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
		<textarea ng-model="text" class="form-control" rows="5" id="submit" placeholder="Write your review here" onfocus="this.placeholder=''" onblur="this.placeholder='Write your review here'"></textarea>
		<input type="submit" id="submit" value="Submit" />
		</form>
	</div>
</div>
<div ng-show="formSubmitted">
	<h4>Review Submitted!</h4>
</div>
    <p><a ui-sref="products">Back to all products</a>
</div>