<div class = "container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Shopping Cart for {{ username }}</h3>
            <form name="cart-update" novalidate ng-submit="checkout()" ng-show="total > 0">
                <fieldset>
                        <div class="row">
                            <div class="col-xs-6">Product</div>
                            <div class="col-xs-3">Price</div>
                            <div class="col-xs-3">Quantity</div>
                        </div>
                        <div ng-repeat="item in cart" class="row">
                            <div class="col-xs-6">{{ item.product.name }}</div>
                            <div class="col-xs-3">{{ item.product.price | currency:"$" }}</div>
                            <div class="col-xs-3"><select name="quantity" ng-options="n for n in [] | range:0:item.product.stock" ng-model="item.quantity"></select></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6"><strong>Total<strong></div>
                            <div class="col-xs-3">{{ total | currency:"$" }}</div>
                            <div class="col-xs-3"><button type="button" ng-click="updateCart()">Update Cart</button></div>
                        </div>
                        <div class="row">
                            <button type="submit" ng-disabled="total <= 0">Checkout</button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <span ng-show="total <= 0">Your shopping cart is empty.</span>
        </div>
    </div>
</div>