<div class = "container">
    <h3>Shopping Cart</h3>
    <div class="row">
        <div class="col-xs-6">Product</div>
        <div class="col-xs-3">Price</div>
        <div class="col-xs-3">Quantity</div>
    </div>
    <div ng-repeat="item in cart" class="row">
        <div class="col-xs-6">{{ item.product.name }}</div>
        <div class="col-xs-3">{{ item.product.price | currency:"$" }}</div>
        <div class="col-xs-3">{{ item.quantity }}</div>
    </div>
    <div class="row">
        <div class="col-xs-6"><strong>Total<strong></div>
        <div class="col-xs-3">{{ total | currency:"$" }}</div>
    </div>
    <div class="row" ng-show="promo === undefined">
        <form novalidate class="form-inline" ng-submit="applyPromo()" name="promoForm">
            <fieldset>
                <div class="form-group col-xs-6">
                    <label for="promoCode">Promo Code</label>
                    <input type="text" class="form-control" id="promoCode" ng-model="promoCde" name="code" required/>
                    <button type="submit" class="btn btn-default" ng-disabled="promoForm.$invalid">Apply to Cart</button>
                    <span ng-show="invalidPromo">Invalid promo code</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row" ng-show="promo !== undefined">
        <div class="col-xs-6">
            <label>Promo Code:</label>
            <span>{{ promo.code }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <legend>Shipping Info</legend>
            <form novalidate class="form-horizontal" ng-submit="createOrder()" name="shippingInfo">
                <fieldset>
                    <div class="form-group">
                        <label for="shipName" class="col-xs-1">Recipient</label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="user.name" class="form-control" id="shipName" name="name" required/>
                        </div>
                        <div class="col-xs-2">
                            <span ng-show="shippingInfo.name.$touched && shippingInfo.name.$error.required">You must enter the recipient's name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shipAddress" class="col-xs-1">Address</label>
                        <div class="col-xs-9">
                            <input type="text" ng-model="user.address" class="form-control" id="shipAddress" name="address" required/>
                        </div>
                        <div class="col-xs-2">
                            <span ng-show="shippingInfo.address.$touched && shippingInfo.address.$error.required">You must enter the recipient's address.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shipEmail" class="col-xs-1">Email</label>
                        <div class="col-xs-9">
                            <input type="email" ng-model="user.email" class="form-control" id="shipEmail" name="email" required/>
                        </div>
                        <div class="col-xs-2">
                            <span ng-show="shippingInfo.email.$touched && shippingInfo.email.$error.email || shippingInfo.email.$error.required">You must enter a valid email address.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1 col-xs-11">
                            <button type="submit" class="btn btn-default" ng-disabled="shippingInfo.$invalid">Place Order</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <pre>{{ shippingInfo | json }}</pre>
        </div>
    </div>
</div>