* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

  #blank-avatar {
    opacity: 0.4;
  }

    #profile-preview {
    vertical-align: middle;
  }

  .fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    padding-bottom: 50px;

;
}
.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%

}

#picError {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    color: red;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'social/bootstrap-social';
