.product-overview {
	.thumbnail {
		img {
			width: 125px;
			height: 94px;
		}
	}
}

.dont-hover {
	text-decoration: none;
}

* {
	font-family: 'Droid Sans', sans-serif;
}

.redbox {
	border-radius: 25px;
	background: #c0cff9;
	border: 1px solid black;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 500px;
}

.newCategory {
	border-radius: 25px;
	background: #c0cff9;
	border: 1px solid black;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 200px;
}